/* css for our html body */
body {
    color: whitesmoke;
    background-color: rgb(21, 40, 41);
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
}

/* css for our links/<a> elements */
a {
    text-decoration: none;
    color: white;
}

/* css for our navbar and navbar-item classes */
.navbar {
    background-color: rgb(14, 58, 69);
    padding: 30px;
}

.navbar-item {
    padding: 20px;
    background-color:   rgb(34, 87, 91);
}

.banner-image {
    width: 100%;
    height: 300px;
}



.profile-card {
   text-align: center;
    padding: 5%;
}

.profile-image {
    border-radius: 100%;
    width: 200px;
}

.profile-text {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 30px;
}

.banner-title {
    background-color: rgb(6, 6, 62); 
    padding: 20px;
    text-align: center;
}


.projects {
    padding: 40px;
    background-color: rgb(35, 35, 56);
}

.project-card {
    border: solid 2px black;
    display: inline-block;
    background-color: whitesmoke;
    color: black;
}

.project-image {
    border: solid 1px black;
    width: 500px;
}

.project-text {
    padding: 20px;
}